#header-container {
	background: #FFF;
}


#boxes-box-site_info h2, .block-boxes-os_boxes_site_info p  {
	color: #444;
}

#header-container a {
	color: #293352;
}

.block-boxes-os_boxes_site_info {
	border-left: 8px solid #CCC;
}


