#branding_header,
#branding_footer {
	display:none;
}

body,
.cke_editable * {
    color:#353535;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size:1em;
    }

#boxes-box-site_info, 
#boxes-box-site_info a,
#menu-bar ul.nice-menu a {
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;

    }

.not-front #content-column {
    font-size:1em;
    }
   
a, a:visited {
    color:#A03A25;
    }
    
#columns .block-boxes-os_boxes_html a, 
#columns .field-name-body a {
text-decoration: none;
}    
    
.biblio-title a, .biblio-title-chicago a {
    color:#A03A25 !important;
    }    

a:hover {
    color:#A03A25;
    text-decoration: underline;
    }


h1, h2, h3, .region-sidebar-second a {
    font-weight: normal;
    color:#889095;
    }


h1 a, h2 a, h3 a, .region-sidebar-second a {
    font-style: normal;
    }

h1#page-title {
font-size: 1.5em;
}

#boxes-box-site_info h1 {
font-size: 26px;
}

#boxes-box-site_info h2 {
font-size: 20px;
}

/* LAYOUT ELEMENTS */
#menu-bar ul.nice-menu ul,
#menu-bar ul.nice-menu .menuparent.over > a,
#menu-bar ul.nice-menu .menuparent a:hover,
#menu-bar ul.nice-menu .menuparent a.active,
#menu-bar ul.nice-menu a.active, 
#menu-bar ul.nice-menu a:hover,
#header,
#header-container, 
#menu-bar {
  background: #A03A25;
}


/* HEADER ELEMENTS */
#header-container {
color: #FFF;
 }


#header-container h1,
#header-container h2,
#header-container h3,
#header-container a,
#header-container a:visited,
#header-container h1 a,
#header-container h1 a:visited {
    color:#EFEFEF;
    }

#header-container a, #header-container a:visited {
    text-decoration: none;
    }
.search-block-form .form-item label,
#search-block-form .form-item label,
#menu-bar a,
#menu-bar a:visited,
#menu-bar ul.nice-menu a {
  color: #fff;

  }

#header-container a:hover,
#header-container a.active {
    color:#F9E433;
    }


 /** NICE MENUS **/


#menu-bar ul.nice-menu a {
	font-size:1.24em;
	text-transform:uppercase;
}

#menu-bar ul.nice-menu ul li {

	background:#252A2B;
}
	
#menu-bar ul.nice-menu .menuparent ul li a.active,	
#menu-bar ul.nice-menu .menuparent ul li a:hover,
#menu-bar ul.nice-menu ul li a {
	color:#FFF;

	}


ul.nice-menu-right li.menuparent, ul.nice-menu-right li li.menuparent,
ul.nice-menu-left li.menuparent, ul.nice-menu-left li li.menuparent,
ul.nice-menu-right li.menuparent:hover, ul.nice-menu-right li li.menuparent:hover,
ul.nice-menu-left li.menuparent:hover, ul.nice-menu-left li li.menuparent:hover {
    background: none;
}

#menu-bar ul.nice-menu .menuparent > a:before {
	background-position: 0 -566px;
}


.search-block-form input.form-submit, 
.search-block-form #edit-submit, 
#search-block-form input.form-submit, 
#search-block-form #edit-submit, 
#search-form #edit-submit {
background-position: 2px -440px;
background-color: #999;
}

#footer {
	background: #f9f9f9;
}


