<div class="container-fluid" ng-switch="pane">
    <div class="media-browser-buttons" ng-show="pane != 'edit' && pane != 'delete'">
        <div class="media-browser-button" ng-class="{active:pane=='upload'}" ng-show="activePanes.upload" ng-click="changePanes('upload')">Upload from your computer</div>
        <div class="media-browser-button" ng-class="{active:pane=='web'}" ng-show="activePanes.web" ng-click="changePanes('web')">Embed from the web</div>
        <div class="media-browser-button" ng-class="{active:pane=='library'}" ng-show="activePanes.library" ng-click="changePanes('library')">Previously uploaded files</div>
    </div>
    <div class="media-browser-panes">
        <div class="media-browser-pane" ng-switch-when="upload">
            <div ng-file-drop ng-file-change="$parent.checkForDupes($files, $event)" class="media-browser-drop-box"
                 drag-over-class="media-browser-drag-over" ng-multiple="true" allow-dir="true"
                 hide-on-drop-not-available="true" ng-accept="$parent.validate($file)">
                <span id="drag-text">Drag and drop files here. <span class="help_icon" ng-mouseenter="showHelp = true" ng-mouseleave="showHelp = false">?</span></span>
                <span id="media-browser-file-select" ng-file-select ng-file-change="$parent.checkForDupes($files, $event)"
                   ng-accept="$parent.validate($file)" accept="{{'.'+extensions.join(',.')}}" ng-multiple="true" ng-click="removeMsg()">{{button_text}}</span>
                     <div class="help" ng-show="showHelp"><strong>Allowed file types:</strong><br /> {{extensions.join(' ')}}<br /><br />
                   <strong>Max file size:</strong> {{maxFilesize}}.</div>
                <span id="filename-check" ng-show="$parent.checkingFilenames">Checking for duplicate files...</span>
            </div>
            <div id="media-browser-duplicate-check" ng-show="$parent.dupes.length > 0">
                <div class="media-browser-dupe" ng-repeat="dupe in $parent.dupes" ng-show="!dupe.processed" style="z-index: {{1000-$index}}">
                    <div ng-show="dupe.name != dupe.filename">
                        This file was renamed from '{{dupe.name}}' due to having invalid characters in its name.
                    </div>
                    A file with the name '{{dupe.filename}}' already exists.
                    <div class="actions">
                        <div><button value="rename" ng-click="$parent.rename($index, $last)">Rename</button> The new name will be {{dupe.newName}}</div>
                        <div><button value="replace" ng-click="$parent.replace($index, $last)">Replace</button> Warning: replacing the existing file cannot be undone.</div>
                        <div><button value="cancel" ng-click="$parent.cancelUpload($index, $last)">Cancel</button></div>
                    </div>
                    <div class="media-browser-dupe-counter" ng-show="$parent.dupes.length > 1">{{$index+1}}/{{$parent.dupes.length}}</div>
                </div>
            </div>
            <div id="media-browser-logs">
                <div id="media-browser-upload-progress" ng-show="$parent.uploadProgress().uploading">
                    <div class="progress-filename">Uploading {{$parent.uploadProgress().filename}}</div>
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar progress-striped">
                            <div class="progress-bar-completed" style="width: {{$parent.uploadProgress().progressBar}}%"></div>
                        </div>
                    </div>
                    <div id="media-browser-upload-counter">{{$parent.uploadProgress().index}} of {{$parent.uploadProgress().numFiles}}</div>
                </div>
                <div id="media-browser-rejected">
                    <div ng-repeat="m in messages" class="message" ng-bind-html="m.text">
                    </div>
                </div>
            </div>
            <div class="actions">
                <button value="cancel" ng-click="cancel()">Cancel</button>
            </div>
        </div>
        <div class="media-browser-pane" ng-switch-when="web">
            <label for="media-browser-web">URL or HTML:</label>
            <textarea id="media-browser-web" cols="60" rows="5" ng-model="$parent.embed" placeholder="Enter the URL or HTML here"></textarea>
            <div class="description embedly">Enter a URL from one of 
                <a href="http://embed.ly/embed/features/providers" target="_blank">these providers</a> or paste a snippet of HTML. The HTML may contain references to any of the <a slide-toggle="#list-of-embedly-providers">following sites</a>. Don't see what you're looking for? <a href="https://help.theopenscholar.com/embedding-third-party-content" target="_blank">Learn more about how to whitelist.</a>   <br><br>
                <div id="list-of-embedly-providers" easing="linear" duration=".2s" class="slideable">
                  <span ng-init="limit = -21" ng-repeat="domain in whitelist" ng-mouseenter="limit = -120"
                        ng-mouseleave="limit = -21" tooltip="{{domain}}">
                    <span ng-hide="(limit *-1) >= domain.length">...</span>{{domain | limitTo:limit}}{{$last ? '' : ', '}}
                  </span>
                </div>
            </div>
            <div class="embed-failure" ng-show="embedFailure" ng-click="$parent.embedFailure = false">
                <span class="error-icon"></span>
                URL(s) in HTML code are not from accepted domain! Please check that all URLs are from an accepted provider, and all URLs in HTML code are from an accepted domain.
            </div>
            <div class="embed-failure" ng-show="embedFailureHttps" ng-click="$parent.embedFailureHttps = false">
                <span class="error-icon"></span>
                URL(s) in HTML code are not accepted if the source is not https or from an accepted provider, Please check that all HTML code are from an accepted domain.
            </div>
            <div class="embed-failure" ng-show="embedFailureHttps" ng-click="$parent.embedFailureHttps = false">
                <span class="error-icon"></span>
                URL(s) in HTML code are not accepted if the source is not https or from an accepted provider, Please check that all HTML code are from an accepted domain.
            </div>
            <div class="actions">
                <button value="submit" ng-click="$parent.embedSubmit()">Submit</button>
                <button value="cancel" ng-click="$parent.cancel()">Cancel</button>
            </div>
        </div>
        <div class="media-browser-pane" ng-switch-when="library">
            <div class="loading" ng-show="loading">
                Please wait while we get information on your files.<br />
                <div class="progress-bar progress-striped"><div class="progress-bar-completed" style="width: 100%"></div></div><br />
                {{loadingMessage}}
            </div>
            <div class="file-filters" ng-show="numFiles">
                <div class="file-search">
                    <label for="file-search-input">Filename</label>
                    <input id="file-search-input" type="text" ng-model="$parent.search" class="form-text" size="30" maxlength="128">
                    <div class="description">Type in a filename or label to filter list of files.</div>
                </div>
                <div class="file-type" ng-show="$parent.availTypes.length > 1">
                    <label for="file-type-input">File Type</label>
                    <select id="file-type-input" type="select" ng-model="$parent.filteredTypes" ng-options="type.value as type.label for type in availTypes" multiple="multiple"></select>
                </div>
                <div class="file-clear">
                    <button ng-click="clearFilters()" ng-show="isFiltered()">Clear Filters</button>
                </div>
            </div>
            <div id="mb-library-header">
                <span class="mb-preview">&nbsp;</span>
                <span class="mb-title" ng-click="sortReverse=(sortType == 'name')?!sortReverse:false; sortType='name';">Title</span>
                <span class="mb-filename" ng-click="sortReverse=(sortType == 'filename')?!sortReverse:false; sortType='filename';">Filename</span>
                <span class="mb-created" ng-click="sortReverse=(sortType == 'timestamp')?!sortReverse:true; sortType='timestamp';">Uploaded</span>
                <span class="mb-file-actions">&nbsp;</span>
            </div>
            <div js-pager="file in files | mbFilename:$parent.search | mbType:availFilter | mbType:filteredTypes | mbExtensions:extensions | filter:{status:'!deleting'} | orderBy:sortType:sortReverse track by file.id" page-size="5">
                <div class="media-row" data-fid="{{file.id}}" ng-click="setSelection(file.id)" ng-class="{selected : selection == file.id, new : file.new}">
                    <span class="mb-preview" ng-bind-html="file.preview"></span>
                    <span class="mb-title">{{file.name}}</span>
                    <span class="mb-filename">{{file.filename}}</span>
                    <span class="mb-created">{{(file.timestamp + '000') | date:'short'}}</span>
                    <span class="mb-file-actions">
                        <span class="mb-actions-edit" ng-click="setSelection(file.id); selected_file.new = false; selected_file.replaced = false; changePanes('edit')">Edit</span>
                        <span class="mb-actions-delete" ng-click="setSelection(file.id); changePanes('delete')">Delete</span>
                    </span>
                </div>
            </div>
            <div class="no-files" ng-show="!loading && files.length == 0">
                No files to show.
            </div>
            <div class="actions" ng-show="$parent.showButtons">
                <button ng-click="$parent.insert()" ng-disabled="!$parent.selected_file" id="Insert">Insert</button>
                <button ng-click="$parent.cancel()">Cancel</button>
            </div>
        </div>
        <div class="media-browser-pane" ng-switch-when="edit">
            <div file-edit file="$parent.selected_file" on-close="closeFileEdit(saved);"></div>
        </div>
        <div class="media-browser-pane" ng-switch-when="delete">
            <div class="mb-delete-warning">Are you sure you want to delete {{$parent.selected_file.name}}? Warning: replacing the existing file cannot be undone.</div>
            <div>WARNING: Any links to this file will be broken!</div>

            <div class="actions">
                <button ng-click="$parent.deleteConfirmed()">Delete</button>
                <button ng-click="$parent.changePanes('library')">Cancel</button>
            </div>
        </div>
    </div>
</div>