#os-tour-cp-users {
    display: none;
    margin-top: 2px;
    margin-left: 5px;
    font-size: 13px;
}

.page-cp-users a.advanced-help-link {
    float: left;
}

.page-cp-users #help {
    float: right;
    margin-bottom: 5px;
}