/**
 * Site-specific styles for gking.
 *
 * Added to every page in gkplus_init() in gkplus.module.
 */

/* Themes some gking Software Project node bodies with inline logos */
.flR {
  float: right;
  margin: 0 0 .5em 1.5em;
}

/* Provides indent on gking "Research Interests" taxonomy term pages. */
.os-taxonomy-term.depth-1.gkplus-no-indent {
  margin-left: 0px;
}

.os-taxonomy-term.depth-2.gkplus-no-indent {
  margin-left: 10px;
}

.os-taxonomy-term.depth-3.gkplus-no-indent {
  margin-left: 20px;
}


.os-taxonomy-term-.depth-1.gkplus-child-indent {
	margin-left: 10px;
}

.os-taxonomy-term.depth-2.gkplus-child-indent {
  margin-left: 20px;
}

.os-taxonomy-term.depth-3.gkplus-child-indent {
  margin-left: 30px;
}

/* Hides headings on certain taxonomy terms */
.gkplus-hidden-heading > h2,
.gkplus-hidden-heading > .term-listing-heading h2 {
	display: none;
}

.gkplus-show-heading > h2,
.gkplus-show-heading > .term-listing-heading h2 {
	display: inline;
}