@media (max-width: 1008px) {
		
		
#menu-bar ul li a,		
.link-count-mobi-main a {
    background-color: #777;
    color: #FFFFFF;
}

#menu-bar ul li a,
#menu-bar ul.nice-menu a.active {
    background: #777777 !important;
   
}

.link-count-mobi-util a {
    background-color: #999;

}
.link-count-mobi-search a {
       background-color: #1E1E1E;

}
/*Dropdown menu*/
#menu-bar {
    background: none!important;
}
#menu-bar #block-os-primary-menu{
    background:#777;

}
#menu-bar ul.nice-menu a.active, 
#menu-bar ul.nice-menu a:hover {
    background: none repeat scroll 0 0 #1E1E1E;

}
#menu-bar #block-os-primary-menu a:hover,
#menu-bar #block-os-primary-menu a:focus{
	background-color:#303030 !important;
}
#menu-bar {
    background: #303030;
    padding: 0;
}
#menu-bar ul.nice-menu ul {
    background: none repeat scroll 0 0 #80282C!important;
}

#menu-bar #block-os-primary-menu li {
    border-bottom: 1px solid #333!important;
     border-top:none;
        display: block;
}

.region-header-third .os-custom-menu.opened,
.region-header-third #block-os-secondary-menu.opened {
    background-color: #999!important;
}
.region-header-third .os-custom-menu li,
.region-header-third #block-os-secondary-menu li{
    border-bottom: 1px solid #333 !important;
    border-top:none !important;
    margin-left:0!important;
}
}

/*--------------------------------------------------------*/
@media (max-width: 768px) {


}