.os-taxonomy-term.depth-1 {
	margin-left: 10px;
}

.os-taxonomy-term.depth-2 {
  margin-left: 20px;
}

.os-taxonomy-term.depth-3 {
  margin-left: 30px;
}

#os-taxonomy-select-list .terms-list {
  float: left;
  min-width: 110px !important;
  margin-right: 5px;
}

#os-taxonomy-select-list #edit-submit {
  padding: 5px;
}

.os-taxonomy-select-submit {
  display: none;
}

.field-name-og-vocabulary ul.toggle-wrapper {
  display: inline-block;
  float: right; /* LTR */
}

.field-name-og-vocabulary ul.toggle-wrapper li {
  display: inline-block;
}