@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.not-front .field-name-body,
#content-column p,
.cke_editable *,
#content-column li,
body *,
#content-column li,
.region-header-third ul.nice-menu a,
#boxes-box-site_info,
#boxes-box-site_info a,
#menu-bar ul a,
#menu-bar ul.nice-menu a,
#menu-bar ul.nice-menu .menuparent a,
#page-title,
.node-title,
.page-search .title a,
#content-column .block.block-boxes-os_boxes_manual_list .links.inline a,
.more-link,
.page-search #content-column p,
.links a,
#footer ul.menu a,
.boxes-box-content h2,
.view-os-events .views-field-colorbox,
.field-name-body h2,
.field-name-body h3,
.field-name-body h4 {
	font-family: 'Open Sans', Helvetica, sans-serif;
}
.ui-widget-content a,
.region-header-third ul.nice-menu a,
a,
a:visited {
	color: #990000;
}
#footer a,
.node-type-page .breadcrumb, .breadcrumb, .breadcrumb a  {
	color: #fff;
}


a.rslides_nav {
    background-color: #990000;
}
.search-block-form input.form-submit,
.search-block-form #edit-submit,
#search-block-form input.form-submit,
#search-block-form #edit-submit,
#search-form #edit-submit {
	background: url(/profiles/openscholar/themes/hwpi_basetheme/images/hwpi_basesprite.png) no-repeat scroll 2px -441px #900;
}
#layout_16_9_side .slide {
	background: #990000;
	background: -moz-linear-gradient(top, #990000 0%, #ad1616 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #990000), color-stop(100%, #ad1616));
	background: -webkit-linear-gradient(top, #990000 0%, #ad1616 100%);
	background: -o-linear-gradient(top, #990000 0%, #ad1616 100%);
	background: -ms-linear-gradient(top, #990000 0%, #ad1616 100%);
	background: linear-gradient(to bottom, #990000 0%, #ad1616 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#990000', endColorstr='#ad1616', GradientType=0);
}
.branding-left {
  
margin: 5px 0 0 0px;
   
}
.not-front #columns {
  
    background-image: url(../images/standard-body-gradient.png?s1234);
  
  
}
.more-link:after {
 
    background-image: none;
 
}