@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body,
.cke_editable * {
    font-family: 'Open Sans',Helvetica,sans-serif;
}


#header {
    background: #FFF;
}


#boxes-box-site_info, 
#boxes-box-site_info a {
    color: #111111;
}

.search-block-form .form-item label,
#search-block-form .form-item label {
    color: #3D3D3D;
}
.search-block-form input.form-submit, 
.search-block-form #edit-submit,
#search-block-form input.form-submit, 
#search-block-form #edit-submit, 
#search-form #edit-submit {
    background-position: 2px -373px;
}

.node-type-person #content-column .node-person h2.block-title, 
.sidebar .block h2.block-title {
    padding: 7px 10px;
}

h2.block-title {
     color: #333333;
     font-size: 16px;
     margin-bottom: 10px;
     text-transform: none;
}

#page-title, 
.node-title, 
.page-search .title a, 
#content-column .block.block-boxes-os_boxes_manual_list .links.inline a, 
.more-link, .page-search #content-column p, 
.not-front #content-column p,
.links a, 
#footer ul.menu a, 
.boxes-box-content h2, 
.view-os-events .views-field-colorbox {
    font-family: 'Open Sans',Helvetica,sans-serif;
}

#menu-bar {
  background:  #FFF;
}

#menu-bar ul.nice-menu .menuparent a:before {
  background-position: -36px -566px; /* Black Arrow */
}

#menu-bar ul.nice-menu .menuparent.over > a,
#menu-bar ul.nice-menu .menuparent a:hover,
#menu-bar ul.nice-menu .menuparent a.active {
  background-color: #111;
}

#menu-bar ul.nice-menu a.active,
#menu-bar ul.nice-menu a:hover {
  background: #111111;
}

#menu-bar ul.nice-menu a {
  color: #111111;
}

#menu-bar ul.nice-menu ul {
  background: #111111;
}


.region-header-third ul.nice-menu a {
    color: #215990;
}