/* CSS for the sv list form */

body.page-os-widget #terms {
     border: 1px solid #999999;
     padding: 5px;
}

body.page-os-widget #vocabs .select2-container {
     min-width: 170px;
}

body.page-os-widget #vocabs .form-type-select label {
     float: left;
     font-size: 13px;
     margin-right: 5px;
     text-transform: capitalize;
     width: 110px;
}

body.page-os-widget #vocabs .form-type-item > label {
     float: none;
     font-size: 14px;
     text-transform: capitalize;
}

body.page-os-widget #vocabs .form-type-select {
     clear: both;
     display: block;
}

.more-wrapper>div, 
fieldset#edit-content>.fieldset-wrapper>div {
	display: inline-block;
	margin-right: 2em;
}
