   
a, a:visited {
    color:#6d792b;
    }
    
.biblio-title a, .biblio-title-chicago a {
    color:#6d792b !important;
    }    

a:hover {
    color:#6d792b;
}


#menu-bar ul.nice-menu ul,
#menu-bar ul.nice-menu .menuparent.over > a,
#menu-bar ul.nice-menu .menuparent a:hover,
#menu-bar ul.nice-menu .menuparent a.active,
#menu-bar ul.nice-menu a.active, 
#menu-bar ul.nice-menu a:hover,
#header,
#header-container, 
#menu-bar {
  background: #6d792b;
}
