@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Volkhov:400,400i,700');

body,
.node-title,
.page-search .title a,
#content-column .block.block-boxes-os_boxes_manual_list .links.inline a,
.more-link,
.links a,
.block-boxes-os_taxonomy_fbt.navigation,
.block-boxes-os_boxes_facetapi_vocabulary.navigation,
#footer ul.menu li ul li a,
#layout_16_9_side .slide-copy h2,
#layout_3_1_overlay .slide-copy h2,
#layout_16_9_below .slide-copy h2,
#layout_16_9_overlay .slide-copy h2,
#layout_16_9_side .slide-copy p,
#layout_3_1_overlay .slide-copy p,
#layout_16_9_below .slide-copy p,
#layout_16_9_overlay .slide-copy p,
#boxes-box-site_info,
#boxes-box-site_info a,
.date-nav h3,
.cke_editable * {
    font-family: 'Volkhov', sans-serif !important;
}
h2.block-title,
#page-title,
.region-header-third ul.nice-menu a,
#menu-bar ul.nice-menu a,
#footer ul.menu a,
.boxes-box-content h2,
.section-nav a,
#content-column h2,
#content-column h3,
#content-column h4 {
	font-family: 'Droid Sans', sans-serif !important;
}

#header {
    background-color: #4d5d71;
}

#menu-bar {
    background-color: #3c4858;

}

#columns a.node-readmore:after {
    background: none;
    padding-right: 0;

}