.front .content-left.content-right #content-panels .region-content-first {width:67%;}
.front .content-left.content-right #content-panels .region-content-second {width:33%;}

/* Slideshow */
#menu-bar nav.block-boxes {display:none;}

/*
300px
665px*/
