<div class="tw-widget" class="clearfix">
  <div ng-repeat="vocab in vocabs" ng-switch="vocab.form" ng-show="allTerms[vocab.id].length" class="clearfix">
    <h4>{{vocab.label}}</h4>

    <div ng-switch-when="options_select">
        <ui-select multiple ng-model="$parent.selectedTerms[vocab.id]"
                   theme="select2" ng-disabled="disabled">
          <ui-select-match placeholder="Select a term from {{vocab.label}}">{{$item.label}}</ui-select-match>
            <ui-select-choices repeat="term in $parent.allTerms[vocab.id] track by term.id">
              <div ng-bind-html="term.label | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div ng-switch-when="entityreference_autocomplete">
        <input type="text"
               ng-model="autocompleteTerm"
               typeahead="term.label for term in allTerms[vocab.id] | filter:$viewValue | filter:alreadySelected | limitTo:8"
               typeahead-on-select="onSelect($item, $model, $label)"
               class="form-text clearfix">
        <div ng-repeat="selectedTerm in selectedTerms[vocab.id]">
            <span class="tw-term-name">{{selectedTerm.label}}</span>
            <span class="tw-term-remove" ng-click="removeTerm(vocab.id, $index)">X</span>
        </div>
        <!--<button ng-click="addMore(vocab.id)">Add more</button>-->
    </div>
    <div ng-switch-when="options_buttons">
      <div ng-repeat="term in allTerms[vocab.id]">
        <input type="checkbox" ng-click="termsSelected(term, this)" class="form-checkbox" ng-checked="termSet(term)">
        <label class="option">{{term.label}}</label>
      </div>
    </div>
    <div ng-switch-when="term_reference_tree">

      <input type="text" ng-model="termSearch" class="form-text clearfix" placeholder="Enter text to filter term tree"/>

      <div
        tree-selector-widget
        tree="vocab.tree"
        selected="selectedTerms[vocab.id]"
        filter="{{termSearch}}"
        on-change="termTreeChangeCallback($node)"></div>
    </div>
  </div>
</div>
